/*
  Wrap background gray: F7FBFC
  Stage background gray: FEFEFF
  Stage section gray: E9F0F2
  Stage alternate section gray (darker): E2E9EB

  Pink: FF0057
  Teal: 00D8FE
  Purple: 5D09C6
*/

body{
  font-family:"sf_ui_display", Helvetica, Arial, sans-serif;
  background-color:#F7FBFC;
}

div.wrap{
  width:100%;
  height:100%;
}

div.sidebar{
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:320px;
}
div.sidebar-logo{
  position:absolute;
  left:-5px;
  top:-10px;
  width:65px;
  height:79px;
  background-image: url("../img/logo.png");
}
div.sidebar-nav{
  position:absolute;
  left:8px;
  bottom:0px;
  width:35px;
  height:230px;
  overflow-x:scroll;
}
div.sidebar-nav-fade-bottom{
  position:absolute;
  left:7px;
  bottom:0px;
  width:37px;
  height:30px;
  background: rgb(247,251,252);
  background: linear-gradient(180deg, rgba(247,251,252,0) 0%, rgba(247,251,252,1) 75%);
  z-index:99;
}
div.sidebar-nav-fade-top{
  position:absolute;
  left:7px;
  top:90px;
  width:37px;
  height:30px;
  background: rgb(247,251,252);
  background: linear-gradient(0deg, rgba(247,251,252,0) 0%, rgba(247,251,252,1) 75%);
  z-index:50;
}
ul.sidebar-nav-list{
  list-style:none;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
}
li.sidebar-nav-item{
  color:#5D09C6;
  height:28px;
  width:34px;
  border-radius: 20px;
  padding:6px 0px 0px 0px;
  font-size:22px;
  margin-bottom:15px;
  text-align:center;
}
li.sidebar-nav-item:first-child{
  margin-top:25px;
}
li.sidebar-nav-item:hover{
  background-color:#FF0057;
  color:#F7FBFC;
}
li.selected{
  background-color:#FF0057;
  color:#F7FBFC;
}

div.stage{
  position:absolute;
  right:0px;
  top:0px;
  width:430px;
  height:290px;
  border-bottom-left-radius: 30px;
  background-color:#FEFEFF;
  box-shadow: -5px 6px 32px -10px rgba(0,0,0,0.75);
  z-index:99;
}
div.stage-wrap{
  position:relative;
  height:290px;
  overflow:scroll;
  border-bottom-left-radius: 30px;
}
div.stage-header{
  font-weight:bold;
  font-size:28px;
  text-transform:uppercase;
  color:#FF0057;
  padding:25px 25px 25px 25px;
}
div.stage-panel{
  background-color:#E9F0F2;
  padding:25px 20px 20px 25px;
  border-bottom:1px solid #E2E9EB;
}
div.stage-panel-alt{
  background-color:#E2E9EB;
}
div.stage-panel:first-child{
  border-top-left-radius:30px;
}
div.stage-panel:last-child{
  border-bottom-left-radius:30px;
  border-bottom:0px;
}

div.statusbar{
  position:absolute;
  right:0px;
  bottom:0px;
  width:400px;
  height:30px;
}
div.left, div.right{
  float:left;
  margin-top:10px;
  height:20px;
  font-size:12px;
  font-weight:bold;
}
div.left{
  width:260px;
}
div.right{
  width:130px;
  padding-right:10px;
  text-align:right;
}
span.statusbar-temp-out, span.statusbar-temp-in, span.statusbar-secstat, span.statusbar-date{
  color:#5D09C6;
}
span.statusbar-temp-out, span.statusbar-temp-in, span.statusbar-time{
  padding-right:5px;
}
span.statusbar-time{
  color:#00D8FE;
}